@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

main {
    flex: 1;
}

.center-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.drawing-box {
    flex: 2;
}

.center-container > div {
    display: block;
    height: 80vh;
    width: 30vh;
    text-align: center;
}

header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 9pt;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    box-sizing: border-box;
}

.left-bezel,
.right-bezel, 
header,
footer {
    background-color: #eb0d0c;
    color: #eef090;
}

.right-button,
.left-button {
    margin: -30px 80px 20px; 
    background-color: white;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
}